:root {
    --white: #fff;
    --black: #000;
    --blue: #0179c8;
    --green: #00cf21;
    --yellow: #ffc700;
    --error: #ff4c13;
    --typo-light-blue: #cee8ff;
    --background-grey: #57606f;
    --background-black: #2f3542;
}
